%h1= submit +" первичную заявку"
.content
  = form_for @claim do |form|
    %table.card
      %tr
        %th Направление:
        %td= select :claim, 'direction_id', Direction.all.collect {|d| [d.name, d.id]}
      %tr
        %th Отделение:
        %td= select :claim, 'division_id', BranchOfBank.where("open_date is not null").collect {|d| [d.name, d.id]}
      %tr
        %th Период:
        %td= select :claim, 'period_id', Period.where("type_period = 'M' and date_from > to_date('2011-12-31', 'yyyy-mm-dd')").collect {|d| [d.name, d.id]}
      %tr
        %th Комментарий:
        %td= form.text_field :comment
      %tr  
        %th Описание
        %td= form.text_area :description
    %br
    = submit_tag submit
