# coding: utf-8
:css
  td.red {color: #f00; }
-@title = "Первичная заявка"
- if @claim.state.state_name.name == "Согласовано"
  %h2 Согласованная заявка
- else
  %h2 Первичная заявка на согласовании
.content
  %table.card
    %tr
      %th Номер
      %td= @claim.claim_number
    %tr  
      %th Направление
      %td= @claim.direction.short_name
    %tr  
      %th Отделение
      %td= @claim.branch_of_bank.name
    %tr  
      %th Статус
      %td= @claim.state.state_name.name
    %tr  
      %th Создана
      %td= @claim.create_date.to_date
    %tr  
      %th Период
      %td= @claim.period.name
    %tr  
      %th Комментарий
      %td= @claim.comment
    %tr  
      %th Описание
      %td= @claim.description
  %table.data
    %tr
      %th Тип
      %th Название
      %th Цена
      %th Количество
      %th Сумма
      %th Для кого
      %th Бизнес
      %th Статья бюджета
      %th Статус
      %th Информация
      %th Примечание
      - if @claim.state.state_name.name != "Согласовано"
        %th 
        %th
    - for c_l in @claim.claim_lines.order(:id)
      %tr
        %td= c_l.asset.ware_type.short_name
        %td= link_to c_l.asset.name, asset_path(c_l.asset.id)
        %td= c_l.cost
        %td= c_l.count.to_s+' '+c_l.asset.unit.sign
        %td= c_l.amount
        - w = Worker.select("lastname, firstname, soname, id_emp, staff").where("id_emp = ?", c_l.for_whom).first
        %td= w.lastname+' '+w.firstname[0,1]+'. '+w.soname[0,1]+'. '+w.staff
        %td= c_l.business.name
        - if c_l.budget_item
          - bi_name = c_l.budget_item.name
        - else  
          - bi_name = "Без статьи бюджета"
        %td= bi_name
        %td= c_l.status.name
        %td= c_l.asset.info  
        %td= c_l.description
        -#%td= link_to (c_l.description>''? c_l.description : "Добавить"), :action => 'edit_description', :claim_line_id => c_l.id
        - if @claim.state.state_name.name != "Согласовано"
          %td= link_to "Изменить", :controller => 'claim_lines', :action => 'edit', :id => c_l.id
          %td= link_to "Удалить", :action => 'delete_claim_line', :claim_line_id => c_l.id
  %table.data
    %tr
      %th Статья бюджета
      %th Сумма бюджета
      %th Сумма заявки
      %th Отклонение
    - for b_i in @grouped_lines
      %tr
        %td= b_i.name
        %td= b_i.limit 
        %td= b_i.item_sum
        - d = b_i.limit.to_f - b_i.item_sum.to_f
        - if d < 0
          %td.red{style: 'text-align: right'}= number_with_precision(d, :precision => 2, :separator => '.')
        - else
          %td{style: 'text-align: right'}= number_with_precision(d, :precision => 2, :separator => '.')     
.action
  %br
- if @claim.state.state_name.name == "На согласовании"  
  %br
  = link_to "Добавить строку", new_claim_line_path(:claim_id => @claim.id)
  -#= link_to "Добавить товар", new_claim_line_path(:claim_id => @claim.id, :ware_type => 'asset')
  %br
  = link_to "Согласовано", :action => 'claim_state_change', :id => @claim.id
  -#%br
  -#= link_to "Согласовано с дирекцией", :action => 'claim_state_change', :id => @claim.id
  %br
  = link_to "История", :action => 'claim_history', :id => @claim.id
  %br
= link_to "Лимиты",  :action => 'show_limits', :claim_id => @claim.id