# coding: utf-8
-@title = "Материальные ценности/услуги"
%h2 Материальные ценности/услуги
.content
  %table.data
    %tr
      %th Тип
      %th Группа
      %th Название
      %th Номенклатурный номер
      %th Предполагаемая статья бюджета
      %th Цена
    - for a in @assets
      %tr 
        %td= a.short_name
        %td= (a.group_name ? a.group_name : '')
        %td= link_to a.name, edit_asset_path(a.id)
        %td= link_to a.part_number, asset_path(a.id)
        - if a.budget_item_id>0
          - bi = BudgetItem.find a.budget_item_id
          %td= '('+bi.code+') '+bi.name
        - else
          %td= "Без статьи бюджета"  
        %td= a.cost
-#= will_paginate @assets        
.action
  = link_to "Добавить", :action => 'new'
