# coding: utf-8
-@title = "Материальная ценность/услуга"
%h2 Материальная ценность/услуга
.content
  %table.card
    %tr
      %th Тип
      %td= @asset.ware_type.name
    %tr
      %th Название
      %td= @asset.name
    %tr
      %th Группа
      %td= (@asset.asset_group ? @asset.asset_group.name : 'Не указана')
    %tr  
      %th Номенклатурный номер
      %td= @asset.part_number
    %tr  
      %th Цена
      %td= @asset.cost
    %tr  
      %th Статья бюджета
      %td= @asset.budget_item.name+' ('+@asset.budget_item.code+')'
    %tr  
      %th Направление
      %td= @asset.direction.name
    %tr  
      %th Дополнительная информация
      %td= @asset.info
-#.action
  -#= link_to "Добавить", :action => 'new'