%h1= submit +" строку в заявке"
.content
  = form_for @claim_line do |form|
    %table.card
      %tr
        %th Товар:
        %td= select :claim_line, 'asset_id', Asset.where("direction_id=?",@claim.direction_id).collect {|w| [w.name, w.id]}
      %tr
        %th Количество:
        %td= form.text_field :count
      %tr
        %th Для кого:
        %td= select :claim_line, 'for_whom', Worker.select("lastname, firstname, soname, id_emp").order(:lastname, :firstname, :soname).collect {|w| [w.lastname+' '+w.firstname+' '+w.soname, w.id_emp]}  
      %tr
        %th Примечание:
        %td= form.text_field :description, :size => 100
        %td= hidden_field_tag :claim_id, @claim.id
      - if @claim.state.state_name.name != "Черновик"  
        %tr
          %th Бизнес:
          %td= select :claim_line, 'business_id', Business.order(:id).collect {|b| [b.name, b.id]}  
        - if submit == "Изменить"
          %tr
            %th Цена:
            %td= form.text_field :cost
          %tr
            %th Статья бюджета:
            %td= select :claim_line, 'budget_item_id', @budget_items.collect {|bi| [bi.code+' '+((bi.isleaf == 1 and bi.parent_id != 153 and bi.parent_id != 488) ? '___':'')+bi.name, bi.id]}
    %br
    = submit_tag submit
